{% extends "./base.html" %}

{% block content %}
<h1>Add a New Repo</h1>
<div class="add_repo_submit">
    <input placeholder="Repo name" id="repo_name">
    <button id="add_button" submit>Add</button>
</div>
<br>
<br>
<div class="tracked_repos">
    <h2>Currently tracked repos</h2>
    {% for repo in tracked_repos %}
        <h4>{{ repo }}</h4>
    {% endfor %}
</div>

<script>
    function getRepoName(){
        return $("#repo_name").val()
    }

    function showMessage(data){
        var message = JSON.parse(data);
        alert(message.message)
    }

    function addRepo(){
        var repoName = getRepoName();
        var post_url = "/add?repo="
        post_url += repoName;
        $.ajax({
            type: 'POST',
            url: post_url
        }).done(showMessage)
    }
    $('#add_button').on('click', addRepo)
</script>

{% endblock content %}