.repo_card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #313131;
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
.repo_card:hover {
    box-shadow: 0 8px 16px 0 #313131;
  }
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
  }

body{
  background: #525252;
}
h1{
  color: white;
  font-size: 40px;
  text-indent: 10px;
}
p{
  color: white;
}
a:link{
  color: white;
}

a:visited{
  color: rgb(196, 189, 188);
}

a:hover{
  color: rgb(150, 143, 141);
}

h2{
  color: white;
}

h4{
  color: white;
}

h3{
  font-size: 30px
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: dense;
}
.grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.tracked_repos{
  text-indent: 10px;
}

.add_repo_submit{
  text-indent: 10px;
}
/* Scheme: https://colorhunt.co/palette/149559 */